$page: #ffffff
$text: #4d4e53
$link: #949554
$visited: #949554
$hover: #d1005d
$dark: #4d4e53
$mid: #8c8d8e
$pale: #b3b3b3
$palebg: #F2F0ED

table.ranking
  border-collapse: collapse
  border: 0
  margin-top: 10px
  tr.prized
    background-color: $palebg
    font-weight: bold
  tr.unfinished
    color: $mid
    a
      color: $mid
  th, td
    vertical-align: top
    font-size: 90%
    padding: 6px 10px
    text-align: left
    a
      color: $dark
    a:hover
      color: $hover
    &.prizes
      color: $mid
      font-size: 75%
  th
    a.sortable
      padding-left: 10px
      background: url('/images/race_results/sorts.png') no-repeat 0 5px
      &.up
        background-position: 0 -11px
      &.down
        background-position: 0 -27px
      &:hover
        color: #f06
        background-position: 0 -59px
      &.up:hover
        background-position: 0 -43px
      &:active, &.up:active
        background-position: 0 -75px
    
div.performance_chart
  width: 800px
  height: 500px
  margin: 20px 0
  overflow: hidden
  ul
    display: none
  a.waiting
    display: block
    margin: 180px 380px

div.tooltip
  position: absolute
  display: none
  border: 1px solid #fdd
  padding: 2px
  background-color: white
  opacity: 0.90
  border: 1px solid $pale
  z-index: 1000

table.splits
  border-collapse: collapse
  border: 0
  margin-top: 10px
  tr.unfinished
    color: $mid
    a
      color: $mid
  th, td
    vertical-align: top
    font-size: 80%
    padding: 3px 5px
    text-align: left
    a
      color: $dark
    a:hover
      color: $hover
    span.interval
      color: $mid

p.download
  a.csv
    padding-left: 20px
    background: transparent url(/images/race_results/csv.png) no-repeat 0 0
    &:hover
      background-position: 0 -16px