%thead
  %tr
    - render_region :thead do |thead|
      - thead.title_header do
        %th.reader Race
      - thead.description_header do
        %th.reader_description Results
      - thead.modify_header do
        %th.modify Modify
