- include_stylesheet 'admin/races'

#races_table.outset      
  %table#races.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.race 
              Race Name
          - thead.instances_header do
            %th.instances 
              Occasions
          - thead.modify_header do
            %th.modify
          
    %tbody
      - @races.each do |race|
        = render :partial => 'race', :object => race

- render_region :bottom do |bottom|
  - bottom.buttons do
    #actions
      = will_paginate @races
      %ul
        %li= link_to image('plus') + " " + "new race", new_admin_race_url
