- include_stylesheet 'admin/races'

#clubs_table.outset      
  %table#race_clubs.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.club 
              Name
          - thead.members_header do
            %th.members 
              Members
          - thead.aliases_header do
            %th.members 
              Aliases
          
    %tbody
      - @race_clubs.each do |club|
        = render :partial => 'club', :object => club

- render_region :bottom do |bottom|
  - bottom.buttons do
    #actions
      = will_paginate @race_clubs
      %ul
        %li= link_to image('plus') + " " + "new club", new_admin_race_club_url
