= render :partial => 'races/standard_parts'

- content_for :title do
  All Results

- content_for :breadhead do
  = link_to "Races", races_url

- content_for :list do
  %div.races
    %ul.race_list
    - @race_instances.each do |instance|
      %li
        = link_to instance.full_name, race_race_instance_url(instance.race, instance) }

= yield :list