- include_stylesheet 'admin/races'
- include_javascript 'admin/races'

= render_region :top 

- render_region :main do |main|
  - main.edit_header do
    %h1= "Update Race Results"
    %p 
      Uploading a new results file will completely replace the current list of competitors, categories and times.

  - main.edit_form do  
    - form_for :race_instance, :url => admin_race_race_instance_path(@race, @race_instance), :html => { :method => "put", :multipart => true } do |f|
      .form-area
        = render :partial => "form", :locals => { :f => f }

        %p.buttons
          %input{:type => "submit", :class => 'button', :value => "save race details"}
          or
          = link_to "Cancel", admin_races_path
